[submodule "wiki"]
	path = wiki
	url = https://github.com/tinyhumansai/tinyhivemind.wiki.git
[submodule "vendor/openhuman"]
	path = vendor/openhuman
	url = https://github.com/tinyhumansai/openhuman.git
[submodule "vendor/tinyjevclient"]
	path = vendor/tinyjevclient
	url = https://github.com/tinyhumansai/tinyjevclient.git
